#videoPlayer{
    
   
}
.controls{
  margin: 0px;
    padding: 0px;
    background: #666;
    height:35px;
    position: relative;
    top:-6px;
    
    
}

.leftControls{
    display: inline-block;
    margin-left: 10px;
}
.progressBar{
    display: inline-block;
    margin-top: 2px;
padding: 0px 20px;
}
#progress{
    width: 500px;
    position: relative;
    top:5px;
   
}
.rightControls{
    display: inline-block;
    text-align: right;
    padding: 5px 20px;
}


